@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color: white;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background-color 300ms;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: rgb(160, 160, 255);
    text-decoration: underline;
}
body {
    margin: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* (\=============== DARKMODE ===============/) */
body[data-theme="dark_theme"] {
    color: white;
    background-color: black;
    --color: white;
    --bg-color: black;
    --accent: rgb(100, 100, 255);
    --alt-accent: rgb(255, 100, 100);
}
body[data-theme="light_theme"] {
    color: black;
    background-color: whitesmoke;
    --color: black;
    --bg-color: whitesmoke;
    --accent: rgb(255, 100, 100);
    --alt-accent: rgb(100, 100, 255);
}
