@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    color: var(--color);
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: scroll !important;
    color: rgb(17, 17, 17);
    background-color: rgb(238, 238, 238);
    --color: 17, 17, 17;
    --bg-color: 238, 238, 238;
    --gray: 204, 204, 204;
    --accent: 100, 100, 255;
    --alt-accent: 255, 100, 100;
}
:root.dark {
    color: rgb(238, 238, 238) !important;
    background-color: rgb(17, 17, 17) !important;
    --color: 238, 238, 238;
    --bg-color: 17, 17, 17;
    --gray: 51, 51, 51;
    --accent: 255, 100, 100;
    --alt-accent: 100, 100, 255;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background-color 300ms;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button,
iframe {
    all: unset;
}
a,
button {
    color: rgb(var(--color));
    text-decoration: none;
    transition: color 300ms;
}
a:hover,
a:hover *,
button:hover,
button:hover * {
    color: rgb(var(--accent));
    fill: rgb(var(--accent));
}
body {
    margin: 0;
    transition: background-color 300ms;
}
input,
textarea {
    color: rgb(var(--color));
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    outline: none;
    resize: none;
}
::placeholder,
::-ms-input-placeholder {
    color: rgb(var(--gray));
}
img {
    max-width: 100%;
    max-height: 100%;
}
/* width */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(var(--bg-color));
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(var(--gray));
    border-radius: 9999px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--color), 0.3);
}
