@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    color: var(--color);
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background-color 300ms;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
button {
    all: unset;
}
a,
button {
    color: rgb(var(--color));
    text-decoration: none;
    transition: color 300ms;
}
a:hover,
button:hover {
    color: rgb(var(--accent));
}
body {
    margin: 0;
    transition: background-color 300ms;
    pointer-events: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
/* width */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(var(--color), 0.1);
    border-radius: 9999px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color), 0.2);
}

/* (\=============== DARKMODE ===============/) */
body[data-theme="dark_theme"] {
    color: rgb(220, 220, 220);
    background-color: rgb(17, 17, 17);
    --color: 220, 220, 220;
    --bg-color: 17, 17, 17;
    --gray: 51, 51, 51;
    --accent: 100, 100, 255;
    --alt-accent: 255, 100, 100;
}
body[data-theme="light_theme"] {
    color: rgb(17, 17, 17);
    background-color: rgb(238, 238, 238);
    --color: 17, 17, 17;
    --bg-color: 180, 180, 238;
    --gray: 198, 180, 180;
    --accent: 255, 100, 100;
    --alt-accent: 100, 100, 255;
}
